<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="dbProperties" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location" value="classpath:conf/db.properties"/>
    </bean>

    <bean id="dbConfig" class="org.bnp.id.config.DBConfig">
        <constructor-arg name="host" value="${db.host}"/>
        <constructor-arg name="port" value="${db.port}"/>
        <constructor-arg name="db" value="${db.name}"/>
        <constructor-arg name="username" value="${db.username}"/>
        <constructor-arg name="password" value="${db.password}"/>
    </bean>

    <bean id="countryController" class="org.bnp.id.controller.CountryController">
        <constructor-arg name="countryService" ref="countryService"/>
    </bean>

    <bean id="chapterController" class="org.bnp.id.controller.ChapterController">
        <constructor-arg name="chapterService" ref="chapterService"/>
    </bean>

    <bean id="parishService" class="org.bnp.id.service.impl.ParishServiceImpl">
        <constructor-arg name="config" ref="dbConfig"/>
        <constructor-arg name="addressUtil" ref="addressUtil"/>
    </bean>

    <bean id="chapterService" class="org.bnp.id.service.impl.ChapterServiceImpl">
        <constructor-arg name="config" ref="dbConfig"/>
        <constructor-arg name="addressUtil" ref="addressUtil"/>
    </bean>

    <bean id="memberService" class="org.bnp.id.service.impl.MemberServiceImpl">
        <constructor-arg name="config" ref="dbConfig"/>
        <constructor-arg name="nameUtil" ref="nameUtil"/>
        <constructor-arg name="addressUtil" ref="addressUtil"/>
        <constructor-arg name="chapterService" ref="chapterService"/>
        <constructor-arg name="parishService" ref="parishService"/>
    </bean>

    <bean id="countryService" class="org.bnp.id.service.impl.CountryServiceImpl">
        <constructor-arg name="config" ref="dbConfig"/>
    </bean>

    <bean id="parishController" class="org.bnp.id.controller.ParishController">
        <constructor-arg name="parishService" ref="parishService"/>
    </bean>

    <bean id="addressUtil" class="org.bnp.id.util.AddressUtil">
        <constructor-arg name="countryController" ref="countryController"/>
    </bean>

    <bean id="nameUtil" class="org.bnp.id.util.NameUtil">
        <property name="namePrefix">
            <util:list id="namePrefix" value-type="java.lang.String">
                <value>de</value>
                <value>del</value>
                <value>dela</value>
                <value>la</value>
                <value>san</value>
            </util:list>
        </property>
    </bean>
</beans>